# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\HeSer\OneDrive\Documents\Wharton\Wharton Spring 2021\FNCE737\FNCE737\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
